.navbar {
  display: flex;
  list-style: none;
  gap: var(--indent-3);
  justify-content: flex-start;
}

.navitemContent {
  transition: all 0.3s;
  cursor: pointer;
  text-decoration: none;
  font-family: var(--font-subheading);
  font-size: var(--font-size-1);
  color: var(--color-text);
  background-color: transparent;
  border: 0;
}

.navitemContent:hover {
  color: var(--color-accent-opposite);
  text-decoration: underline;
}

.navitem:last-child .separator {
  display: none;
}

.separator {
  margin: 0 0.3rem 0 1rem;
}
