.container {
  display: flex;
  flex-direction: column;
}

.sectionCategories {
  padding: var(--indent-3);
  display: flex;
  flex-direction: column;
  gap: var(--indent-3);
}

.menuButton {
  font-family: var(--font-subheading);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-light);
  border: var(--border-width-bold) solid var(--color-text);
  padding: var(--indent-3) var(--indent-4);
  background-color: var(--color-primary);
  transition: background-color 0.2s ease-in-out;
  margin-bottom: var(--indent-3);
}

.menuButton:hover {
  background-color: var(--color-accent);
  color: var(--color-white);
}

@media (max-width: 999px) {
  .menuButton {
    display: block;
  }
}

@media (min-width: 1000px) and (max-width: 1300px) {
}

@media (min-width: 1000px) {
  .menuButton {
    display: none;
  }

  .sectionCategories {
    display: flex !important;
  }
}
